@import url("https://use.typekit.net/vab7vzb.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-3d {
    box-shadow: -5px 5px 0px rgba(0, 0, 0, 0.2);
}

.markup {
    h2,
    h3 {
        line-height: 1.25;
        margin-top: 3rem;
    }

    h2 {
        font-size: 1.5rem;
        font-weight: 700;
    }

    h3 {
        font-size: 1.3rem;
        font-weight: 700;
    }

    & > :not(:last-child) {
        margin-bottom: 1.5rem;
    }

    a {
        @apply text-primary;

        text-decoration: underline;
    }

    pre {
        margin-left: 0;
        margin-right: 0;
        border-bottom-width: 5px;
        background-color: #f7f7f7;
        border-color: #ddd;
    }

    pre code {
        background-color: #ffffff;
        padding: 2rem;
    }

    ul {
        list-style-position: inside;
        list-style-type: disc;
    }
}
