@import url("https://use.typekit.net/vab7vzb.css");
@import 'animations.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .shadow-code {
        box-shadow: 0 40px 207px 0 rgba(0, 1, 139, 0.1);
    }

    .text-stroke {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #000;
    }

    .stack-sm {
        box-shadow: -5px -5px 0 -1px #fff, -5px -5px 0 theme("colors.secondary");
    }

    .stack-dark {
        box-shadow: -5px -5px 0 -1px theme("colors.primary"),
            -5px -5px 0 theme("colors.secondary");
    }

    .stack {
        position: relative;

        > * {
            position: relative;
        }

        &:before {
            content: "";
            transform: rotate(1.5deg);
            position: absolute;
            right: -25px;
            bottom: -20px;
            border-style: solid;
            border-width: 4px;
            border-image-source: linear-gradient(to bottom, #02fb90, #110086);
            border-image-slice: 1;
            height: 102%;
            width: 102%;
        }
    }

    .no-transition {
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -o-transition: none !important;
        transition: none !important;
    }
}
